* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8e9ce;
}

.container {
    display: flex;
    height: 80vh;
    width: 60vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-section {
    background: url('image/chef-washing-vegetables.jpg') no-repeat center center/cover;
    color: #099468;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.left-section p {
    font-size: 16px;
}

.right-section {
    padding: 40px;
    width: 50%;
    background-color: white;
    
}



.right-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: rgb(255, 119, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #099468;
}

.right-section p {
    text-align: center;
    font-size: 14px;
}

.right-section p a {
    color: #6c5ce7;
    text-decoration: none;
}

.right-section p a:hover {
    text-decoration: underline;
}
