

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


   
/* <!-- <HEADER> --> */
header{
    height: 10vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
a{
    text-decoration: none;

}
.A{
    color: black;
}

a:hover{
    color: #099468;
}

/* <!-- <HEADER> --> */




/* <!-- <Order> --> */

.order{
    height: 100vh;
    width: 100vw;
    margin-top: 50px;
    
}

.top{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.bottom{
    height:40%;
    width: 100%;
    background-color: #099468;
    
}

.order-ar-staff{
    height: 90%;
    width: 15%;
   
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    justify-content: center;
    justify-items: center;
}




.btn1{
   
    height: 50px;
    width: 150px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    border-radius: 12px;
 
    margin-left: 38px;
    margin-top: 50px;
    cursor: pointer;
    background-color: rgb(180, 204, 180);
    transition: 1s;
    margin-bottom: 35px;
    margin-right: 30px;

}

.btn1:hover{
color: white;
background-color: #099468;
}


/* <!-- <Order> --> */





/* <!-- <FOOTER> --> */

footer{
    height: 30vh;
    width: 100vw;
    background-color: #111D15;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    
    
}

#content{
    height: 20vh;
    width: 90vw;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

#foot1{
    height: 15vh;
    width: 20vw;
}

#foot2{
    height: 15vh;
    width: 10vw;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
}

#foot3{
    height: 15vh;
    width: 15vw;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
}

#foot5{
    width: 100vw;
    text-align: center;
}

hr {
    border: 1px solid white; /* White border */
    width: 95%;
    margin-left: 45px;
}

