

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


   
/* <!-- <HEADER> --> */
header{
    height: 10vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
a{
    text-decoration: none;

}
.A{
    color: black;
}

a:hover{
    color: #099468;
}

/* <!-- <HEADER> --> */



/* Middle Picture Start*/

.main{
 


    height: 70vh;
    width: 100vw;

    
    background-image: url('maiN.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;

}



/* Middle Picture End*/



/*Cleaning Section Start*/



.cleaning-section{
    height: 100vh;
    width: 100vw;
   
    margin-bottom: 5px;
}


.text-div{
    height: 15%;
    width: 100%;
   
    margin-top: 10px;

   
}

.service-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(37, 37, 62);
}








.service-section{

    display: flex;
    justify-content: center;
    justify-items: center;

    height: 85%;
    width: 100%;
    
   
 
}


.service-div{
   height: 90%;
   width: 20.5%;
  
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 20px;
   border-radius: 30px;
   


}


.img-section{
    
    height: 40%;
    width: 100%;
}

.service-related-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    opacity: 0.5;
    margin-left: 40px;
}



.btn{
   
        height: 50px;
        width: 150px;
  
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;

        border-radius: 12px;
     
        margin-left: 38px;
        margin-top: 50px;
        cursor: pointer;
        background-color: rgb(180, 204, 180);
        transition: 1s;

}

.btn:hover{
    color: white;
    background-color: #099468;
}

/*Cleaning Section End*/




/* <!-- <FOOTER> --> */

footer{
    height: 30vh;
    width: 100vw;
    background-color: #111D15;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    
    
}

#content{
    height: 20vh;
    width: 90vw;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

#foot1{
    height: 15vh;
    width: 20vw;
}

#foot2{
    height: 15vh;
    width: 10vw;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
}

#foot3{
    height: 15vh;
    width: 15vw;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
}

#foot5{
    width: 100vw;
    text-align: center;
}

hr {
    border: 1px solid white; /* White border */
    width: 95%;
    margin-left: 45px;
}

